<section class="why-choose-us">
    <h2 class="why-choose-us__title">
        Why Choose Us
    </h2>
    <div class="why-choose-us__cards">
        <article class="why-choose-us__cards-item card">
            <img src="img/why-choose-us/casette.jpg" alt="Casette" class="card__image">
            <h3 class="card__title">InDigitNess Voice</h3>
            <p class="card__text">The program goal is to entertain, inform, educate, & involve ...</p>
        </article>
        <article class="why-choose-us__cards-item card">
            <img src="img/why-choose-us/casette.jpg" alt="Casette" class="card__image">
            <h3 class="card__title">InDigitNess Voice</h3>
            <p class="card__text">The program goal is to entertain, inform, educate, & involve ...</p>
        </article>
        <article class="why-choose-us__cards-item card">
            <img src="img/why-choose-us/casette.jpg" alt="Casette" class="card__image">
            <h3 class="card__title">InDigitNess Voice</h3>
            <p class="card__text">The program goal is to entertain, inform, educate, & involve ...</p>
        </article>
        <article class="why-choose-us__cards-item card">
            <img src="img/why-choose-us/casette.jpg" alt="Casette" class="card__image">
            <h3 class="card__title">InDigitNess Voice</h3>
            <p class="card__text">The program goal is to entertain, inform, educate, & involve ...</p>
        </article>
    </div>
    <a href="#" class="why-choose-us__link button">See all programs</a>
</section>
